<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Siddhi-IO-Live-Test-Suite">
    <test name="Siddhi-io-live-tests" enabled="true" preserve-order="true" parallel="methods">
        <classes>
            <class name="io.siddhi.extension.io.live.sink.TestCaseOfLiveSink"/>
            <class name="io.siddhi.extension.io.live.source.TestCaseOfLiveSource"/>
        </classes>
    </test>
</suite>
